.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Logo {
  position: absolute !important;
  top: 20px;
}

.App-conversation-container {
  min-height: 71vh;
  max-height: 71vh;
  overflow-y: auto;
  position: fixed;
  display: inline-block !important;
  padding-right: 5px;
  top: 120px;
  color: #fff;
  width: 60vw;
  max-width: 60vw;
  margin-top: 20px;
}

.App-conversation {
  margin: 0 !important;
  width: 100% !important;
  height: 100%;
  max-width: 100% !important;
}

.App-MessageBox {
  position: fixed !important;
  bottom: 15px;
  left: 20%;
  right: 20%;
  max-height: 30vh;
  min-height: 10vh;
  width: 60%;
  background: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.comments .comment:last-child {
  margin-bottom: 0 !important;
}

.ui.comments .comment:first-child {
  margin-top: 0 !important;
}

.App-MessageBox textarea {
  height: 100%;
  resize: none !important;
  border: none !important;
}

.CommentBox {
  background: #fff !important;
  padding: 15px !important;
  border-radius: 8px;
  border: 1px solid #ddd !important;
  margin: 20px 0 !important;
}
